[buildout]
index = http://packages.lizardsystem.nl
find-links = 
prefer-final = true
versions = versions
extends = http://packages.lizardsystem.nl/kgs/3.1.29/versions.cfg
extensions = mr.developer
parts =
    sysegg
    django
    omelette
    console_scripts
    pyflakes
    sphinx
develop = .
#         local_checkouts/some_trunk_external
eggs =
    lizard-waterregime
auto-checkout = lizard-fewsunblobbed

[sources]
lizard-fewsunblobbed = git git@github.com:lizardsystem/lizard-fewsunblobbed.git branch=lizard3-fewsnorm-erikjanvos

[versions]
Django = 1.4.5

[sysegg]
recipe = osc.recipe.sysegg
force-sysegg = true
eggs =
    psycopg2
    matplotlib
#    PIL
#    pyproj


[django]
# Sets up django for testing our application.
# See http://jacobian.org/writing/django-apps-with-buildout/
recipe = djangorecipe
project = lizard_waterregime
projectegg = lizard_waterregime
settings = testsettings
test = lizard_waterregime
eggs = lizard-waterregime


[omelette]
# Creates a nice parts/omelette with our used eggs
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


[console_scripts]
recipe = zc.recipe.egg
interpreter = python
eggs =
    ${buildout:eggs}
# Development tools
    eazysvn
    coverage > 3.3.1
    pep8
    zest.releaser


[pyflakes]
# Hairy way to install pyflakes: old-style distutils script.
recipe = zc.recipe.egg
scripts =
   pyflakes
eggs =
   pyflakes
entry-points = pyflakes=pkg_resources:run_script
arguments = 'pyflakes', 'pyflakes'


[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/doc/source
build = ${buildout:directory}/doc/build
eggs = ${buildout:eggs}
