{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block subtitle %} Waterregime {% endblock %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>Waterregime</h2>
    <ul class="without-bullets">
      {% for shape in waterregime_shapes %}
      <li class="workspace-acceptable"
          data-name="{{ shape.gid }}"
          data-adapter-class="adapter_waterregime"
          data-adapter-layer-json='{"layer": "{{ shape.gid }}"}'>
        <a href="#">{{ shape.afdeling }}</a>
      </li>
      {% endfor %}
    </ul>
</div>

{% for workspace in workspaces.user %}
  {% workspace workspace %}
{% empty %}
No workspace
{% endfor %}

{% endblock %}
