{% extends "lizard_map/wms.html" %}
{% load workspaces %}

{% block subtitle %} Waterregime {% endblock %}

{% block sidebar %}
<div class="sidebarbox sidebarbox-stretched">
  <h2>Waterregime</h2>
    <ul class="without-bullets">
      <li class="workspace-acceptable"
          data-name="Regime-indicator"
          data-adapter-class="adapter_waterregime"
          data-adapter-layer-json='{"layer": "testlayername432"}'>
        <a href="#">Regime-indicator</a>
      </li>
    </ul>
</div>

{% for workspace in workspaces.user %}
  {% workspace workspace %}
{% empty %}
No workspace
{% endfor %}

{% endblock %}
